* {
  font-family: Iosevka Aile Custom;
  font-size: 10pt;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background: #000;
  opacity: 0.8;
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu,
#temperature {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#custom-weather {
  padding-right: 2rem;
  font-weight: bold;
}

#workspaces button.focused {
  background: #4c7899;
}
