* {
  font-family: "Sarasa Term J";
  font-size: 9pt;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  padding-top: 0;
  padding-bottom: 0;
}

window#waybar {
  background: linear-gradient(to bottom, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.8) 100%);
  min-height: 17px;
  /* background: rgba(0, 0, 0, 0.8); */
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu,
#temperature,
#custom-weather,
#clock,
#network,
#idle_inhibitor,
#custom-recorder,
#custom-dnd,
/* #custom-separator, */
#taskbar,
#tray, 
#language, #scratchpad, #mode, #workspaces {
  padding: 0 0.5rem;
}

#workspaces, #taskbar {
  padding-left: 0;
}

#custom-separator {
}

#workspaces button.focused, #mode {
  background: #2772C8;
}


