* {
  font-family: Sarasa Term J;
  font-size: 9pt;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
}

window#waybar {
  background: #000;
  opacity: 0.8;
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#cpu,
#temperature,
#custom-weather,
#clock,
#network,
#idle_inhibitor,
#custom-recorder {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#workspaces button.focused {
  background: #2772C8;
}
