/* embed stuff */

.container_dbadf5 {
  display: flex;
  flex-wrap: wrap;
}
/* Embed items */
.container_dbadf5 > .inlineMediaEmbed__4270e {
  margin: 0.25em;
  vertical-align: top;
}
/* Workaround for loading images (gets overridden when image is loaded), and YT embeds and such */
.container_dbadf5 .inlineMediaEmbed__4270e .clickableWrapper__64072 > *, .container_dbadf5 .inlineMediaEmbed__4270e .embedFull__8dc21 {
  width: 520px;
}
/* Fix playing youtube embeds */
.container_dbadf5 > .embedFull__8dc21 {
  flex: 1;
}
/* Fix reactions */
.reactions_b8dc93 {
  flex-basis: 100%;
}

/* embed stuff */

.icon-2Po-VO {
  display: none;
}

.theme-dark [class*=searchResult-] [class*=hit-],  { /* search result box */
  box-shadow:none;
}

.searchResultsWrap-2DKFzt { /* search result width */
  width: 666px;
}

.channelTextArea-rNsIhG, .form-2fGMdU { /* chat input box margins */
  margin-top: unset;
  margin-left: unset;
  margin-right: unset;
  border: unset;
}


.containerCozy-jafyvG { /* chat message spacing */
  padding: 5px 0px 5px 0px;
}

.attachment-33OFj0, .wrapperAudio-1jDe0Q { /* attachment */
  border: 0px;
  padding: 0px;
}

.attachment-33OFj0 > img, .attachment-33OFj0 > a {
  display:none;
}

.messageGroupWrapperOffsetCorrection-phOU-k { /* pinned messages offset correction */
  margin: 0px 0px 0px -20px;
}

.channelTextArea-rNsIhG { /* message input area */
  padding-top: 0px;
  border-top: 0px;
}

.roleName-32vpEy { /* fix role names in user tooltip */
  margin-top: 2.5px;
  overflow: visible;
}

[class*=dots-] { /*remove typing dots */
  display:none !important;
}

.footer_aa1bff {
  display: none;
}

/* IRC theme */

:root {
  --font-code: "Iosevka Aile Custom"; /* Optional custom font */

  /* Custom indentation, values represent number of blank spaces from the left */
  --irc-indent: 2;
  --irc-newline-indent: 14;
  --irc-reply-indent: 7;
  --irc-reply-spine-length: 2;
}
[id^="chat-messages"] div[class*="compact_"] {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calc(var(--irc-newline-indent) * 1ch); 
}
[class*="compact_"] {
  /* Fonts */
  * {
    font-family: var(--font-code);
    :not([id^="message-accessories-"] *) {
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }
  [class^="repliedMessage"],
  code.inline,
  [class^="textContainer"] code /* Text file previews */ {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  [class^="embedWrapper_"] *,
  [class^="attachment_"] *,
  [class^="children_"] * /* Those weird bot buttons */ {
    font-family: var(--font-primary)
  }
  font-family: var(--font-code);
  font-size: 1rem;

  /* Indentation */
  * {
    --custom-message-meta-space: 1ch;
    --custom-message-margin-compact-indent: 7ch;
  }
  > [class^="contents_"] {
    margin-left: 0;
    padding-left: 0;
    text-indent: calc((var(--irc-indent) - var(--irc-newline-indent)) * 1ch);
  }
  [class^="repliedMessage_"] {
    margin-left: calc((var(--irc-reply-indent) - var(--irc-newline-indent)) * 1ch);
    padding-left: 0ch;
    text-indent: 0ch;

  }

  /* Message headers */
  [class^="latin24CompactTimeStamp_"] {
    height: auto;
    width: auto;
    opacity: 100;
  }
  [class^="avatar_"] {
    top: -1px;
    width: 2ch;
    height: 2ch;
    min-height: 2ch;
    margin: 0;
    margin-right: 1ch;
    vertical-align: middle;
    border-radius: 4px;
  }
  [id^="message-username-"] {
    margin-right: 0;
  }

  /* Timestamp brackets */
  [class^="latin24CompactTimeStamp_"]::before {
    content: "[";
  }
  [class^="latin24CompactTimeStamp_"]::after {
    content: "]";
  }

  /* Bold usernames */
  [class^="username_"] {
    font-weight: bold;
  }

  /* Username angle brackets */
  [class^="username_"]::before {
    color: var(--text-normal);
    content: "<";
  }
  [class^="username_"]::after {
    color: var(--text-normal);
    content: ">";
  }

  /* Replies */
  [class^="repliedMessage_"] {
    --timestamp-width: 5ch;
    --custom-message-reply-indent: 0ch;
    --text-indent: calc((var(--custom-message-margin-compact-indent) - 1ch) * -1);
  }
  [class^="repliedMessageClickableSpine_"] {
    left: calc(var(--irc-reply-spine-length) * -1ch);
    margin: 0 4px 0 2px;
  }
  [class^="replyBadge_"] {
    margin-right: 1ch;
    height: 2ch;
    width: 2ch;
  }
  [class^="repliedTextPreview_"] {
    max-height: none;
  }
  /* Blocked message */
  [class^="blockedSystemMessage_"] {
    padding: 0;
    [class^="iconContainer"] {
      margin-right: 1ch;
      padding: 0;
      height: 2ch;
      width: 2ch;
    }
  }

  /* Bot tags */
  [class^="botTagCompact_"] {
    display: inline;
    height: auto;
    top: 0;
    margin: 0;
    margin-left: -1ch;
    padding: 0;
    vertical-align: baseline;
    font-size: 1rem;

    [class^="botTagVerified_"] {
      height: 2ch;
      width: 2ch;
      margin: 0;
      vertical-align: middle;
    }

    [class^="botText_"] {
      font-size: inherit;
      vertical-align: inherit;
    }
  }
  [id^="message-reply-context-"] [class^="botTagCompact_"] {
    margin-left: 0;
    margin-right: 1ch;
  }

  /* Bot tag brackets */
  [class^="botTagCompact_"]::before {
    color: inherit;
    content: "[";
  }
  [class^="botTagCompact_"]::after {
    color: inherit;
    content: "]";
  }

  /* New member badge */
  [class^="newMemberBadge"] {
    margin-left: 1ch;
  }

  /* Clan tags */
  [class^="chipletContainerInner_"] {
    margin-left: 1ch;
    font-size: 1rem;

    [class^="badge_"] {
      height: 2ch;
      width: 2ch;
      margin: 0;
      vertical-align: middle;
    }

    [class^="text-xs/"] {
      padding: 0;
      font-size: inherit;
    }
  }
  [id^="message-reply-context-"] [class^="chipletContainerInner_"] {
    margin-left: 0;
  }

  /* Emoji */
  * {
    --custom-emoji-size-emoji: 2ch;
  }
  .emoji {
    top: -1px;
    vertical-align: middle;
  }

  /* Mentions */
  .mention,
  [class^="roleMention_"] {
    padding: 0;
  }

  /* Channel mentions */
  .channelMention {
    padding: 0;
    [class^="icon_"] {
      height: 2ch;
      width: 2ch;
      margin: 0;
      margin-top: -.4ch;
      vertical-align: middle;
    }
  }

  /* Code blocks */
  code.inline {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 0 0 1px inset var(--background-tertiary);
  }
  pre,
  pre * {
    margin: 0;
    line-height: var(--custom-message-reply-message-preview-line-height)
  }
  [class^="codeContainer_"] code {
    padding: 1ch;
    border: none;
    box-shadow: 0 0 0 1px inset var(--background-tertiary);
  }

  /* Text file preview */
  [class^="nonVisualMediaItemContainer_"] {
    margin: 0;
  }
  [class^="textContainer"] code {
    margin: 1ch 1ch 0;
    padding: 1ch;
  }
}

/* Thread Spines */
[class*="compact"][class*="hasThread_"] {
  [class^="spine_"] { /* The top half that is straight */
    left: calc(var(--irc-reply-spine-length) * -1ch);
    margin-left: 2px;
    width: calc((var(--irc-reply-spine-length) - 0.5) * 1ch);
  }

  [class^="contents_"]::before { /* The bottom half that bends */
    left: calc(var(--irc-reply-spine-length) * -1ch);
    margin-left: 2px;
  }
}

/* Message input */
[class^="textArea_"] * {
  font-family: var(--font-code);
}

