/* IRC theme */

:root {
  --font-code: "Iosevka Aile Custom"; /* Optional custom font */

  /* Custom indentation, values represent number of blank spaces from the left */
  --irc-indent: 2;
  --irc-newline-indent: 14;
  --irc-reply-indent: 7;
  --irc-reply-spine-length: 2;
  --clan-tags-display: none; /* none or revert */
}

[id^="chat-messages"],
[class*="preview"] {
  --custom-message-padding-vertical-container-compact: 0;

  div[class*="compact"]:not(:has([class*="groupStart"])) {
    margin-bottom: -.0625rem;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: calc(var(--irc-newline-indent) * 1ch); 
  }
  div[class*="compact"]:has([class*="groupStart"]) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: calc(var(--irc-newline-indent) * 1ch);
  }

  [class*="isSystemMessage"] {
    /* System message i.e. join message */
    [class*="container"] {
      padding-left: 0;
    }

    /* Message icons i.e. join message arrow */
    [class*="iconContainer"] {
      margin-right: 1ch;
      padding: 0;
      height: 2ch;
      width: 2ch;
    }
  }
}
[class*="preview"] div[class*="compact"] {
  padding-left: calc(var(--irc-newline-indent) * 1ch);
}
[class^="chat"] [class*="compact"] {
  /* Fonts */
  * {
    font-family: var(--font-code);

    :not([id^="message-accessories-"] *) {
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }
  [class*="repliedMessage"],
  code.inline,
  [class*="textContainer"] code /* Text file previews */ {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  [class*="embedWrapper"] *,
  [class*="attachment"] *,
  [class*="children"] *, /* Those weird bot buttons */
  [class*="button"] * {
    font-family: var(--font-primary)
  }
  [class*="button"] * {
    font-size: 14px
  }
  font-family: var(--font-code);
  font-size: 1rem;

  /* Indentation */
  * {
    --custom-message-meta-space: 1ch;
    --custom-message-margin-compact-indent: 7ch;
  }
  > [class*="contents"] {
    margin-left: 0;
    padding-left: 0;
    text-indent: calc((var(--irc-indent) - var(--irc-newline-indent)) * 1ch);
  }
  [class*="repliedMessage"] {
    margin-left: calc((var(--irc-reply-indent) - var(--irc-newline-indent)) * 1ch);
    padding-left: 0ch;
    text-indent: 0ch;

  }

  /* Message headers */
  [class*="timestamp"] {
    height: auto;
    width: auto;
    opacity: 100;
  }
  [class*="avatar"] {
    top: -1px;
    width: 2ch;
    height: 2ch;
    min-height: 2ch;
    margin: 0;
    margin-right: 1ch;
    vertical-align: middle;
    border-radius: 4px;
  }
  [id^="message-username-"] {
    margin-right: 0;
  }

  /* Timestamp brackets */
  [class*="timestamp"]:not(:has([aria-label*="Edited"]))::before {
    content: "[";
  }
  [class*="timestamp"]:not(:has([aria-label*="Edited"]))::after {
    content: "]";
  }

  /* Bold usernames */
  [class*="username"] {
    font-weight: bold;
  }

  /* Username angle brackets */
  [class^="username"]::before {
    color: var(--text-normal);
    content: "<";
  }
  [class^="username"]::after {
    color: var(--text-normal);
    content: ">";
  }

  /* Replies */
  [class*="repliedMessage"] {
    --timestamp-width: 5ch;
    --custom-message-reply-indent: 0ch;
    --text-indent: calc((var(--custom-message-margin-compact-indent) - 1ch) * -1);
  }
  [class*="repliedMessageClickableSpine"] {
    left: calc(var(--irc-reply-spine-length) * -1ch);
    margin: 0 4px 0 2px;
  }
  [class*="replyBadge"] {
    margin-right: 1ch;
    height: 2ch;
    width: 2ch;
  }
  [class*="repliedTextPreview"] {
    max-height: none;
  }

  /* Blocked message */
  [class*="blockedSystemMessage"] {
    padding: 0;
  }

  /* Bot tags */
  [class*="botTagCompact"] {
    display: inline;
    height: auto;
    top: 0;
    margin: 0;
    margin-left: -1ch;
    padding: 0;
    vertical-align: baseline;
    font-size: 1rem;

    [class*="botTagVerified"] {
      height: 2ch;
      width: 2ch;
      margin: 0;
      vertical-align: middle;
    }

    [class*="botText"] {
      font-size: inherit;
      vertical-align: inherit;
    }
  }
  [id^="message-reply-context-"] [class*="botTagCompact"] {
    margin-left: 0;
    margin-right: 1ch;
  }

  /* Bot tag brackets */
  [class*="botTagCompact"]::before {
    color: inherit;
    content: "[";
  }
  [class*="botTagCompact"]::after {
    color: inherit;
    content: "]";
  }

  /* New member badge */
  [class*="newMemberBadge"] {
    margin-left: 1ch;
  }

  /* Clan tags */
  [class*="chipletContainerInner"], [class^="copyOnlyText"] {
    display: var(--clan-tags-display);
    margin-left: 1ch;
    font-size: 1rem;

    [class*="badge"] {
      height: 2ch;
      width: 2ch;
      margin: 0;
      vertical-align: middle;
    }

    [class*="text-xs/"] {
      padding: 0;
      font-size: inherit;
    }
  }
  [id^="message-reply-context-"] [class*="chipletContainerInner"] {
    margin-left: 0;
  }

  /* Emoji */
  * {
    --custom-emoji-size-emoji: 2ch;
  }
  .emoji {
    top: -1px;
    vertical-align: middle;
  }

  /* Mentions */
  .mention,
  [class*="roleMention"] {
    padding: 0;
  }

  /* Channel mentions */
  .channelMention {
    padding: 0;
    [class*="icon"] {
      height: 2ch;
      width: 2ch;
      margin: 0;
      margin-top: -.4ch;
      vertical-align: middle;
    }
  }

  /* Code blocks */
  code.inline {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0 0 0 1px inset var(--background-tertiary);
  }
  pre,
  pre * {
    margin: 0;
    line-height: var(--custom-message-reply-message-preview-line-height)
  }
  [class*="codeContainer"] code {
    padding: 1ch;
    border: none;
    box-shadow: 0 0 0 1px inset var(--background-tertiary);
  }

  /* Text file preview */
  [class*="nonVisualMediaItemContainer"] {
    margin: 0;
  }
  [class*="textContainer"] code {
    margin: 1ch 1ch 0;
    padding: 1ch;
  }
}

/* Thread Spines */
[class*="compact"][class*="hasThread"] {
  [class*="spine"] { /* The top half that is straight */
    left: calc(var(--irc-reply-spine-length) * -1ch);
    margin-left: 2px;
    width: calc((var(--irc-reply-spine-length) - 0.5) * 1ch);
  }

  [class*="contents"]::before { /* The bottom half that bends */
    left: calc(var(--irc-reply-spine-length) * -1ch);
    margin-left: 2px;
  }
}

/* Message input */
[class*="textArea"] * {
  font-family: var(--font-code);
}
