#navigator-toolbox {
  font-family: Iosevka Aile Custom;
  font-size: 9pt;
}

/* hide "firefox suggests" label */
.urlbarView-row[label]{
  margin-block-start: 0 !important;
}

.urlbarView-row[label]::before{
  display: none !important;
}

/* Linux/GTK specific styles */
@media (-moz-gtk-csd-available) {
    /* Hide tabs */
    #TabsToolbar:not([customizing="true"]) {
        visibility: collapse !important;
    }

    :root:not([customizing="true"]) #toolbar-menubar[inactive]+#TabsToolbar .titlebar-buttonbox-container {
        display: none;
    }

    #nav-bar, #urlbar {
        z-index: 100;
    }
}
