/*:not(.fa):not(.fas):not(.glyphicon):not(i):not(pre):not(code):not(.material-icons) {
    font-family: "Noto Sans CJK JP";
    font-size: 12pt !important;
	line-height: 1.3 !important;
    text-shadow: none !important;
    user-select: text !important;
}
.blob-code-content * {
    font-family: "Iosevka Term Custom" !important;
}


pre, code {
    color: #cba !important;
	background-color: #111 !important;
    border: 1px dashed #555 !important;
    padding: 1px !important;
}

pre code {
    border: none !important;
    padding: 0 !important;
	color: #DDCCBB !important;
}

div.sourceCode > pre, td.sourceCode > pre {
    border: none !important;
}

span.qutehint {
    opacity: 100% !important;
    background: rgba(0, 0, 0, 0.8) !important;
    color: #B3FF1D !important;
    outline: 1px solid rgba(179,255,29,1) !important;
    padding: 2px !important;
}

span.qutehint > font {
    color: #e51688 !important;
}

/* github */

.container-lg {
	max-width: none !important;
}

/* jpopsuki */

#userinfo_major, #userinfo_minor {
	display:inline !important;
}

#userinfo_stats {
	display:block !important;
}


/* reddit */

div.jscroll-inner > div.link {
	padding-left:0px !important;
}

.separator {
	visibility: visible !important;
}

/* For the new osu-web */

@media (min-width:900px){
	.osu-page {
		width: calc(100% - 30px) !important;
		max-width: inherit !important;
	}
/*
	.osu-layout__row {
		width:calc(100% - 30px) !important;
		max-width:inherit !important;
	}

	.beatmapsets__item {
		width:calc(50% - 10px) !important;
	}
	.beatmapsets__items-row {
		width:50% !important;
	} */
}

/* For 4chan */

pre.prettyprint, pre.prettyprint * {
    font-family: "Iosevka Term Custom" !important;
	max-width: 130vh;
}


div.adg-rects, form#delform > div > div > iframe {
    display: none !important;
}

div#quickReply textarea {
    width: 550px !important;
    height: 500px !important;
}

span.quote {
    color: #789922 !important;
}

span.sjis, #quickReply .sjis {
    font-family: 'IPAMonaPGothic','Mona','MS PGothic',monospace !important;
}

s, s a:not(:hover) {
    color: #333 !important;
    background: #333 !important;
}

s:hover, s:focus, s:hover a, s:hover span {
    color: white !important;
    background: black !important;
}

div.postContainer > div.post > div.file {
    width: 800px !important;
}

span.nameBlock > span.n-pu {
    background: url('https://s.4cdn.org/image/minileaf.gif') !important;
}

input#qrFile {
    width: 60% !important;
}

body.is_thread > iframe {
    display: none !important;
}

div.reply.highlight {
    border: 1px solid #ff0 !important;
}

textarea[name=com] {
    width: 1000px !important;
    height: 300px !important;
}

tr#captchaFormPart {
    display: none !important;
}

/* TeX images */

img.tex, img.numberedequation, img.inlineformula, span.math,
img.mwe-math-fallback-image-inline, img.illustration {
    background-color: #bbb !important;
    padding: 1px !important;
}

/*meritnation*/

.exp_content.maxHeight75px {
	max-height: 9999px !important;
}

span.math {
    background: none !important;
    border-color: black !important;
}

/* for nyaa.si */
.container {
	width: 100% !important;
}

/* Ad element hiding */

div#_Ltg { /* google search results */
    display: none !important;
}

div.pyv-afc-ads-container { /* youtube search results */
    display: none !important;
}

/* ESPNCricinfo */
div.ad-wrapper, div.sponsored-headlines {
	display: none !important;
}

.container {
    min-width: 100%;
}
.d-flex > .col-lg-3 {
    flex: 0 0 10%;
}

.col-md-15, .col-14, .col-lg-13 {
    flex: 0 0 95%;
    max-width: 95%;
}

.layout-full, .layout-abc, .layout-bc, .layout-bc-large, .layout-cb, .layout-dbc, .layout-cbc {
	width: inherit !important;
}

.col-b {
	width: 1292px !important;
}

header#global-header {
	display: none !important;
}

span.c00 {
	color: #DDCCBB !important;
}

/* tweetdeck */

html.dark .is-narrow-columns .column {
    width: 220px;
    margin-right: 3px;
}

/* brawlhalla */
.cli-barmodal-open {
    overflow: unset !important;
}
/* Color overrides

:not(img):not(pre):not(code):not(span):not(p):not(h):not(a):not(strong):not(ul) {
    background-color: black !important;
	color: #DDCCBB !important;
}

a[href], a[href] * {
    color: #FFAA0F !important;
}

a:visited, a:visited * {
    color: #FF5D4A !important;
}*/
.column-scroller {
    overflow-y: scroll !important;
    margin-right: -17px !important;
    padding-right: 10px !important;
}


.entry-content {
    width: unset;
}

a[title~="Shorts"] {
    display: none!important;
}
